{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "globals": {
    "__DEV__": true,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false,
    "firebase": false,
    "firebaseui": false,
    "require": false
  },
  "env": {
    "browser": true
  },
  "rules": {
    "semi": ["error", "never"],
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/no-multi-comp": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": ["error", "never"]
  }
}
